<template>
    <div class="d-flex" id="wrapper" :class="{toggled:getisToggled}">

        <transition 
            name="fade" 
            appear 
            enter-active-class="animate__animated animate__fadeInLeft"
            leave-active-class=""
        >
            <dashboard-sidebar v-if="!getisToggled" key="main"></dashboard-sidebar>
            <dashboard-small-sidebar v-else key="secondary"></dashboard-small-sidebar>
        </transition>

        <div id="page-content-wrapper">

            <dashboard-header></dashboard-header>

            <div class="container-fluid px-4">
                <div class="row g-3 mt-4 resp">

                    <!-- cash flow start -->
                    <div class="col-lg-9 col-md-8 text-left cashFlowWidth">
                        <dashboard-cash-flow></dashboard-cash-flow>
                    </div>
                    <!-- cash flow end -->

                    <!-- Bank accounts start -->
                    <div class="col-lg-3 col-md-3 text-left bankAccs">
                        <dashboard-bank-accounts></dashboard-bank-accounts>
                    </div>
                    <!-- Bank accounts end -->

                </div>

                <div class="row mt-4 mb-4">

                    <!-- profit & loss start -->
                    <div class="col text-left">
                        <dashboard-profit-loss></dashboard-profit-loss>
                    </div>
                    <!-- profit & loss end -->

                    <!-- expenses start -->
                    <div class="col text-left">
                        <dashboard-expenses></dashboard-expenses>
                    </div>
                    <!-- expenses end -->

                    <!-- invoices start -->
                    <div class="col text-left">
                        <dashboard-invoices></dashboard-invoices>
                    </div>
                    <!-- invoices end -->

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
// import axios from 'axios'
// import moment from 'moment'
import BarChart from '../components/charts/BarChart'
import PieChart from '../components/charts/PieChart'
// import i18n from '../plugins/i18n.js'

import DashboardSidebar from '../components/DashboardSidebar'
import DashboardSmallSidebar from '../components/DashboardSmallSidebar'
import DashboardHeader from '../components/DashboardHeader'
import DashboardCashFlow from '../components/DashboardCashFlow'
import DashboardBankAccounts from '../components/DashboardBankAccounts'
import DashboardProfitLoss from '../components/DashboardProfitLoss'
import DashboardExpenses from '../components/DashboardExpenses'
import DashboardInvoices from '../components/DashboardInvoices'

export default {
    name: 'Dashboard',
    data() {
        return {
            width: window.innerWidth, 
            height: window.innerHeight,
        }
    },
    components: {
        BarChart,
        PieChart,

        DashboardSidebar,
        DashboardSmallSidebar,
        DashboardHeader,
        DashboardCashFlow,
        DashboardBankAccounts,
        DashboardProfitLoss,
        DashboardExpenses,
        DashboardInvoices,
    },
    computed: {
        ...mapGetters(['getisToggled'])
    },
    created() {
        window.addEventListener("resize", this.onResize);
    },
    destroyed() {
        window.removeEventListener("resize", this.onResize);
    },
    methods: {
        ...mapActions(['openSideAction']),
        onResize(e) {
            this.width = window.innerWidth;
            this.height = window.innerHeight;

            if(window.innerWidth<=760) {
                this.openSideAction(true)
            }
            else {
                this.openSideAction(false)
            }

            if(window.innerWidth<=930) {
                this.openSideAction(true)
            }
            else {
                this.openSideAction(false)
            }
        },
    }
}
</script>

<style scoped>
@font-face {
    font-family: 'Poppins';
    src: local('Popppins'), url('../assets/landing/fonts/Poppins-SemiBold.ttf') format('truetype')
}

@font-face {
    font-family: 'Aldrich';
    src: local('Aldrich'), url('../assets/dashboard/fonts/Aldrich-Regular.ttf') format('truetype')
}

.animate__fadeInLeft {
    position: absolute;
}

.animate__animated {
    animation-duration: 1.5s;
}

#wrapper {
    overflow-x: hidden;
    background-color: #E5E5E5;
}

#page-content-wrapper {
    min-width: 100vw;
}

#small-sidebar-wrapper{
    width: 85px;
    padding: 1rem;
    background: #1E1E2D;
    min-height: 100vh;
    transition: margin 0.25s ease-out;
}

.section-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px; 
}

@media screen and (min-width: 768px){
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .col {
        margin-bottom: 2rem;
    }

    .cashFlowWidth {
        width: 85%;
        min-width: 25rem;
    }

    .bankAccs {
        margin-top: 1rem;
        min-width: 25rem;
        width: 85%;
    }
}

@media screen and (max-width: 940px) {
    .resp {
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        padding-right: 0px;
    }

    .cashFlowWidth {
        width: 85%;
        min-width: 25rem;
    }

    .bankAccs {
        margin-top: 1rem;
        min-width: 25rem;
        width: 85%;
    }
}

/* side bar animation */
.fade-enter { 
    opacity: 0.5;
    margin-left: -85px;
}

.fade-enter-active {
    transition: all 0.5s linear;
}

.fade-leave-to {
    transition: all .5s linear;
    opacity: 0.5;
    margin-left: -85px;
}
</style>
