<template>
  <div class="home">
    <div class="page" v-if="getSpinner">
      <b-spinner class="spinner" variant="success" type="grow" label="Spinning"></b-spinner>
    </div>
    <home-navbar></home-navbar>
    <home-hero></home-hero>
    <home-features></home-features>
    <home-hero-two></home-hero-two>
    <home-getstarted></home-getstarted>
    <home-pricing></home-pricing>
    <home-blog></home-blog>
    <home-testimonials></home-testimonials>
    <home-footer></home-footer>
  </div>
</template>

<script>
// @ is an alias to /src
import HomeNavbar from '@/components/HomeNavbar'
import HomeHero from '@/components/HomeHero'
import HomeFeatures from '@/components/HomeFeatures'
import HomeHeroTwo from '@/components/HomeHeroTwo'
import HomeGetstarted from '@/components/HomeGetstarted'
import HomePricing from '@/components/HomePricing'
import HomeBlog from '@/components/HomeBlog'
import HomeTestimonials from '@/components/HomeTestimonials'
import HomeFooter from '@/components/HomeFooter'

import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Home',
  components: {
    HomeNavbar,
    HomeHero,
    HomeFeatures,
    HomeHeroTwo,
    HomeGetstarted,
    HomePricing,
    HomeFooter,
    HomeBlog,
    HomeTestimonials,
  },
  data() {
    return {
      spinner: false,
    }
  },
  methods: {
    ...mapActions(['loading'])
  },
  created() {
    this.loading()
  },
  computed: {
    ...mapGetters(["getSpinner"])
  }
}
</script>

<style scoped>
.page {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  z-index: 25;
  width: 100%;
  height: 100%;
}

.spinner {
  position: relative;
  top: 50%;
  left: 50%;
}
</style>
