<template>
    <div class="bg-white expenses common">
        <div>
            <h3 class="fs-2 section-title">{{ $t('dashboard.sidebar.Expenses') }}</h3>

            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ $t('dashboard.profitAndLoss.chooseFilter') }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">{{ $t('dashboard.profitAndLoss.day') }}</a>
                    <a class="dropdown-item" href="#">{{ $t('dashboard.profitAndLoss.week') }}</a>
                    <a class="dropdown-item" href="#">{{ $t('dashboard.profitAndLoss.month') }}</a>
                    <a class="dropdown-item" href="#">{{ $t('dashboard.profitAndLoss.quarter') }}</a>
                </div>
            </div>

            <div class="d-flex justify-content-around align-items-center ">
                <div class="doughnutLabels mr-5">
                    <div class="doughnutLabel">
                        <h3>{{ $t('dashboard.bank-accounts.currency') }} 2,034</h3>
                        <p>{{ $t('dashboard.expenses.advertising') }}</p>
                    </div>

                    <div class="doughnutLabel">
                        <h3>{{ $t('dashboard.bank-accounts.currency') }} 49K</h3>
                        <p>{{ $t('dashboard.expenses.dues') }}</p>
                    </div>

                    <div class="doughnutLabel">
                        <h3>{{ $t('dashboard.bank-accounts.currency') }} 706K</h3>
                        <p>{{ $t('dashboard.expenses.subscriptions') }}</p>
                    </div>

                    <div class="doughnutLabel">
                        <h3>{{ $t('dashboard.bank-accounts.currency') }} 5.8K</h3>
                        <p>{{ $t('dashboard.sidebar.Sales') }}</p>
                    </div>
                </div>
            
                <div class="doughnutCont">
                    <pie-chart 
                        :chartData="arrHospitalized"
                        :options="chartOptions"
                        label="expenses"
                        style="width:300px;height:300px;"
                    />
                    <span class="doTXT">8,345 EGP</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import PieChart from '../components/charts/PieChart'
import axios from 'axios'
import moment from 'moment'


export default {
    name: 'DashboardExpenses',
    data() {
        return {
            arrPositive: [],
            barChartColors: {
                borderColor: "#077187",
                pointBorderColor: "#0E1428",
                pointBackgroundColor: "#AFD6AC",
                backgroundColor: "#74A57F"
            },
            arrHospitalized: [],
            arrInIcu: [],
            arrOnVentilators: [],
            arrRecovered: [],
            arrDeaths: [],
            chartOptions: {
                responsive: true,
                maintainAspectRatio: false,
                aspectRatio: 1,
            },
        }
    },
    components: {
        PieChart,
    },
    async created() {
        const res  = await axios.get("https://covidtracking.com/api/us/daily");

        res.data.forEach(d => {
            const date = moment(d.date, "YYYYMMDD").format("MM/DD");
            const {
                positive,
                hospitalizedCurrently,
                inIcuCurrently,
                onVentilatorCurrently,
                recovered,
                death
            } = d;

            this.arrPositive.push({ date, total: positive });
            this.arrHospitalized.push({ date, total: hospitalizedCurrently });
            this.arrInIcu.push({ date, total: inIcuCurrently });
            this.arrOnVentilators.push({ date, total: onVentilatorCurrently });
            this.arrRecovered.push({ date, total: recovered });
            this.arrDeaths.push({ date, total: death });
        });
    }
}
</script>

<style scoped>
.common {
    padding: 2rem;
    background: #FFFFFF;
    border-radius: 12px;
    color: #212121;
}

.section-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px; 
}

.dropdown-toggle {
    margin: 13px 0px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-transform: capitalize;
    color: #212121;
}

.dropdown-item {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-transform: capitalize;
    color: #212121;
}

.doughnutLabels h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #464E5F;
}

.doughnutLabels p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #B5B5C3;
}

.doughnutLabel {
    margin-bottom: 22px;
}

.doughnutLabel h3 {
    margin-bottom: 0px;
}

.doughnutCont {
    text-align: center;
}

.doTXT {
    position: absolute;
    top: 53%;
    left: 58%;
    right: 50%;
    bottom: 50%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #464E5F;
}

@media screen and (max-width: 768px) {
    .expenses {
        min-width: 25rem;
        overflow: hidden;
    }
}

@media screen and (max-width: 940px) {
    .expenses {
        min-width: 25rem;
        overflow: hidden;
    }
}
</style>
