<template>
    <div class="bg-white common">
        <div class="d-flex justify-content-between mb-3">
            <h3 class="fs-2 section-title">{{ $t('dashboard.bank-accounts.bank-accs') }}</h3>
            <div>
                <a href=""><img class="d-inline" src="../assets/dashboard/imgs/File Plus icon.png" alt=""></a>
                <a href=""><img class="d-inline" src="../assets/dashboard/imgs/edit.png" alt=""></a>
            </div>
        </div>

        <div>
            <!-- bank account name -->
            <div class="d-flex justify-content-between ">
                <div>
                    <h5 class="h5">XX2345 ({{ $t('dashboard.bank-accounts.type') }})</h5>
                    <p class="p">{{ $t('dashboard.bank-accounts.history') }}</p>
                </div>
                <p class="p">{{ $t('dashboard.bank-accounts.number') }}</p>
            </div>

            <!-- bank balance -->
            <div class="d-flex justify-content-between ">
                <h5 class="h5">{{ $t('dashboard.bank-accounts.bank-balance') }}</h5>
                <p class="p">{{ $t('dashboard.bank-accounts.currency') }} 20K</p>
            </div>

            <!-- in tas -->
            <div class="d-flex justify-content-between ">
                <h5 class="h5">{{ $t('dashboard.bank-accounts.in') }} TAS</h5>
                <p class="p">{{ $t('dashboard.bank-accounts.currency') }} 30K</p>
            </div>
        </div>

        <hr>

        <div>
            <!-- bank account name -->
            <div class="d-flex justify-content-between ">
                <div>
                    <h5 class="h5">XX2345 ({{ $t('dashboard.bank-accounts.type') }})</h5>
                    <p class="p">{{ $t('dashboard.bank-accounts.number') }}</p>
                </div>
                <p class="p">{{ $t('dashboard.bank-accounts.number') }}</p>
            </div>

            <!-- bank balance -->
            <div class="d-flex justify-content-between ">
                <h5 class="h5">{{ $t('dashboard.bank-accounts.bank-balance') }}</h5>
                <p class="p">{{ $t('dashboard.bank-accounts.currency') }} 20K</p>
            </div>

            <!-- in tas -->
            <div class="d-flex justify-content-between ">
                <h5 class="h5">{{ $t('dashboard.bank-accounts.in') }} TAS</h5>
                <p class="p">{{ $t('dashboard.bank-accounts.currency') }} 30K</p>
            </div>
        </div>

        <hr>

        <div>
            <!-- bank account name -->
            <div class="d-flex justify-content-between ">
                <div>
                    <h5 class="h5">XX2345 ({{ $t('dashboard.bank-accounts.type') }})</h5>
                    <p class="p">{{ $t('dashboard.bank-accounts.number') }}</p>
                </div>
                <p class="p">{{ $t('dashboard.bank-accounts.number') }}</p>
            </div>

            <!-- bank balance -->
            <div class="d-flex justify-content-between ">
                <h5 class="h5">{{ $t('dashboard.bank-accounts.bank-balance') }}</h5>
                <p class="p">{{ $t('dashboard.bank-accounts.currency') }} 20K</p>
            </div>

            <!-- in tas -->
            <div class="d-flex justify-content-between ">
                <h5 class="h5">{{ $t('dashboard.bank-accounts.in') }} TAS</h5>
                <p class="p">{{ $t('dashboard.bank-accounts.currency') }} 30K</p>
            </div>
        </div>

        <hr>

        <button type="button" class="btn btn-light">{{ $t('dashboard.bank-accounts.goToRegisters') }}</button>
    </div>
</template>

<script>
export default {
    name: 'DashboardBankAccounts',
}
</script>

<style scoped>
.common {
    padding: 25px 30px;
    background: #FFFFFF;
    border-radius: 12px;
    color: #212121;
}

.section-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px; 
}

/* bank accounts start */
.h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #464E5F;
    margin: 0;
}

.p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #B5B5C3;
    margin: 0;
}

.btn {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-transform: capitalize;
    color: #212121;
    margin-top: 2.5rem;
}
/* bank accounts end */
</style>
