<template>
    <div class="" id="sidebar-wrapper">
        <div class="logo">
            <a href="" class="p-0" >
                <img @click.prevent="toggleSide" class="d-inline" src="../assets/dashboard/imgs/user-octagon.png" alt="">
            </a>
            <h2>TAS</h2>
        </div>

        <div class="list-group list-group-flush my-3">
            <a class="dropown-toggle d-flex align-items-center active list-group-item-action bg-transparent second-text" 
                href="#dashboardSubmenu"
                data-toggle="collapse"
                aria-expanded="false"
                @click="rotateArrow(1)"
            >
                <img class="d-inline mr-2" src="../assets/dashboard/imgs/dashboard.png" alt="">
                <span>{{ $t('dashboard.sidebar.Dashboard') }}</span>
                <i class="fas fa-chevron-right" id="arrow1"></i>
            </a>
            <ul class="collapse"
                id="dashboardSubmenu"
            >
                <li class="mainLi">
                    <a href="#">page one</a>
                </li>
                <li class="mainLi">
                    <a href="#">page two</a>
                </li>
                <li class="mainLi">
                    <a href="#">page three</a>
                </li>
            </ul>

            <a class="dropown-toggle d-flex align-items-center list-group-item-action bg-transparent second-text"
                href="#transactionsSubmenu"
                data-toggle="collapse"
                aria-expanded="false"
                @click="rotateArrow(2)"
            >
                <img class="d-inline mr-2" src="../assets/dashboard/imgs/dollar-square.png" alt="">
                <span>{{ $t('dashboard.sidebar.Transactions') }}</span>
                <i class="fas fa-chevron-right" id="arrow2"></i>
            </a>
            <ul class="collapse"
                id="transactionsSubmenu"
            >
                <li class="mainLi">
                    <a href="#pageoneSubmenu"
                        data-toggle="collapse"
                        aria-expanded="false"
                    >
                        <span class="d-inline">Page one</span>
                        <i class="fas fa-chevron-right d-inline"></i>
                    </a>
                    <ul class="collapse"
                        id="pageoneSubmenu"
                    >
                        <li><a href="">Page 1.1</a></li>
                        <li><a href="">Page 1.2</a></li>
                        <li><a href="">Page 1.3</a></li>
                    </ul>
                </li>
                <li class="mainLi">
                    <a href="#pagetwoSubmenu"
                        data-toggle="collapse"
                        aria-expanded="false"
                    >
                        <span class="d-inline">Page two</span>
                        <i class="fas fa-chevron-right d-inline"></i>
                    </a>
                    <ul class="collapse"
                        id="pagetwoSubmenu"
                    >
                        <li><a href="">Page 2.1</a></li>
                        <li><a href="">Page 2.2</a></li>
                        <li><a href="">Page 2.3</a></li>
                    </ul>
                </li>
                <li class="mainLi">
                    <a href="#pagethreeSubmenu"
                        data-toggle="collapse"
                        aria-expanded="false"
                    >
                        <span class="d-inline">Page three</span>
                        <i class="fas fa-chevron-right d-inline"></i>
                    </a>
                    <ul class="collapse"
                        id="pagethreeSubmenu"
                    >
                        <li><a href="">Page 3.1</a></li>
                        <li><a href="">Page 3.2</a></li>
                        <li><a href="">Page 3.3</a></li>
                    </ul>
                </li>
            </ul>

            <a class="dropown-toggle d-flex align-items-center list-group-item-action bg-transparent second-text"
                href="#salesSubmenu"
                data-toggle="collapse"
                aria-expanded="false"
                @click="rotateArrow(3)"
            >
                <img class="d-inline mr-2" src="../assets/dashboard/imgs/moneys.png" alt="">
                <span>{{ $t('dashboard.sidebar.Sales') }}</span>
                <i class="fas fa-chevron-right" id="arrow3"></i>
            </a>
            <ul class="collapse"
                id="salesSubmenu"
            >
                <li class="mainLi">
                    <a href="#">page one</a>
                </li>
                <li class="mainLi">
                    <a href="#">page two</a>
                </li>
                <li class="mainLi">
                    <a href="#">page three</a>
                </li>
            </ul>

            <a class="dropown-toggle d-flex align-items-center list-group-item-action bg-transparent second-text" 
                href="#cashflowSubmenu"
                data-toggle="collapse"
                aria-expanded="false"
                @click="rotateArrow(4)"
            >
                <img class="d-inline mr-2" src="../assets/dashboard/imgs/money-change.png" alt="">
                <span >{{ $t('dashboard.sidebar.Cash flow') }}</span>
                <i class="fas fa-chevron-right" id="arrow4"></i>
            </a>
            <ul class="collapse"
                id="cashflowSubmenu"
            >
                <li class="mainLi">
                    <a href="#">page one</a>
                </li>
                <li class="mainLi">
                    <a href="#">page two</a>
                </li>
                <li class="mainLi">
                    <a href="#">page three</a>
                </li>
            </ul>

            <a class="dropown-toggle d-flex align-items-center list-group-item-action bg-transparent second-text" 
                href="#expensesSubmenu"
                data-toggle="collapse"
                aria-expanded="false"
                @click="rotateArrow(5)"
            >
                <img class="d-inline mr-2" src="../assets/dashboard/imgs/moneys.png" alt="">
                <span >{{ $t('dashboard.sidebar.Expenses') }}</span>
                <i class="fas fa-chevron-right" id="arrow5"></i>
            </a>
            <ul class="collapse"
                id="expensesSubmenu"
            >
                <li class="mainLi">
                    <a href="#">page one</a>
                </li>
                <li class="mainLi">
                    <a href="#">page two</a>
                </li>
                <li class="mainLi">
                    <a href="#">page three</a>
                </li>
            </ul>

            <a class="d-flex align-items-center list-group-item-action bg-transparent second-text" href="#">
                <img class="d-inline mr-2" src="../assets/dashboard/imgs/Library.png" alt="">
                <span >{{ $t('dashboard.sidebar.Payroll') }}</span>
            </a>
            <a class="d-flex align-items-center list-group-item-action bg-transparent second-text" href="#">
                <img class="d-inline mr-2" src="../assets/dashboard/imgs/chart-2.png" alt="">
                <span >{{ $t('dashboard.sidebar.Reports') }}</span>
            </a>
            <a class="d-flex align-items-center list-group-item-action bg-transparent second-text" href="#">
                <img class="d-inline mr-2" src="../assets/dashboard/imgs/graph.png" alt="">
                <span >{{ $t('dashboard.sidebar.Taxes') }}</span>
            </a>
            <a class="d-flex align-items-center list-group-item-action bg-transparent second-text" href="#">
                <img class="d-inline mr-2" src="../assets/dashboard/imgs/huobi-token-(ht).png" alt="">
                <span >{{ $t('dashboard.sidebar.Mileage') }}</span>
            </a>

            <a class="dropown-toggle d-flex align-items-center list-group-item-action bg-transparent second-text" 
                href="#chartsofaccountsSubmenu"
                data-toggle="collapse"
                aria-expanded="false"
                @click="rotateArrow(6)"
            >
                <img class="d-inline mr-2" src="../assets/dashboard/imgs/moneys.png" alt="">
                <span >{{ $t('dashboard.sidebar.Charts of Accounts') }}</span>
                <i class="fas fa-chevron-right" id="arrow6"></i>
            </a>
            <ul class="collapse"
                id="chartsofaccountsSubmenu"
            >
                <li class="mainLi">
                    <a href="#">page one</a>
                </li>
                <li class="mainLi">
                    <a href="#">page two</a>
                </li>
                <li class="mainLi">
                    <a href="#">page three</a>
                </li>
            </ul>
            
            <a class="d-flex align-items-center list-group-item-action bg-transparent second-text" href="#">
                <img class="d-inline mr-2" src="../assets/dashboard/imgs/strongbox.png" alt="">
                <span>{{ $t('dashboard.sidebar.Accountant') }}</span>
            </a>
        </div>

    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    name: 'DashboardSidebar',
    data() {
        return {
            
        }
    },
    computed: {
    },
    methods: {
        ...mapActions(['openSideAction']),

        toggleSide() {
            if(this.getisToggled) {
                this.openSideAction(false)
            }
            else {
                this.openSideAction(true)
            }
        },

        rotateArrow(index) {
            let arrow = document.getElementById(`arrow${index}`)
            arrow.classList.toggle('rotateArrow')
        }
    },
}
</script>

<style scoped>
@font-face {
  font-family: 'Poppins';
  src: local('Popppins'), url('../assets/landing/fonts/Poppins-SemiBold.ttf') format('truetype')
}

@font-face {
  font-family: 'Aldrich';
  src: local('Aldrich'), url('../assets/dashboard/fonts/Aldrich-Regular.ttf') format('truetype')
}

.logo {
    padding: 12px 25px;
    display: flex;
    align-items: center;
    background-color: #1B1B28;
}

.logo h2 {
    font-family: 'Aldrich', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    margin-top: 5px;
    width:100%;
}

a {
    text-decoration: none;
}

.list-group a {
    display: block;
    padding: 12px 36px 12px 20px;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    color: #888C9F;
}

.list-group a:hover,
.list-group a.active {
    color: #fff;
    background-color: #1B1B28;
}

#sidebar-wrapper {
    min-height: 100vh;
    /* margin-left: -16.5rem; */
    transition: 0.25s;
    background: #1E1E2D;
    padding: 0rem 0rem;
    color: #fff;
    min-width: 16.5rem;
}

.dropown-toggle {
    position: relative;
}

.fa-chevron-right {
    position: absolute;
    left: 224px;
    color: #494B69;
    transition: transform .3s;
}

.rotateArrow {
    transform: rotate(90deg);
    color: #fff;
}

ul {
    list-style-type: none;
}

ul > li:before {
    content: "–";
    position: absolute;
    margin-left: -0.3rem;
    margin-top: 0.8rem;
    color: #888C9F;
}

@media screen and (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
}

html[dir="rtl"] .list-group a {
    padding: 12px 20px 12px 36px;
}


html[dir="rtl"] .fa-chevron-right {
    right: 224px;
    transform: rotate(180deg);
}

html[dir="rtl"] .rotateArrow {
    transform: rotate(90deg);
}

html[dir="rtl"] ul > li:before {
    margin-right: -0.3rem;
}

@media screen and (min-width: 768px) {
    html[dir="rtl"] #sidebar-wrapper {
        margin-right: 0;
    }
}
</style>
