<template>
    <div class="bg-white common">
        <div>
            <h3 class="fs-2 section-title">{{ $t('dashboard.profitAndLoss.profitAndLoss') }}</h3>
            <p class="p">{{ $t('dashboard.profitAndLoss.netIncome') }}</p>

            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ $t('dashboard.profitAndLoss.chooseFilter') }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">{{ $t('dashboard.profitAndLoss.day') }}</a>
                    <a class="dropdown-item" href="#">{{ $t('dashboard.profitAndLoss.week') }}</a>
                    <a class="dropdown-item" href="#">{{ $t('dashboard.profitAndLoss.month') }}</a>
                    <a class="dropdown-item" href="#">{{ $t('dashboard.profitAndLoss.quarter') }}</a>
                </div>
            </div>
        </div>

        <!-- income -->
        <div class="income">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="h5">{{ $t('dashboard.profitAndLoss.income') }}</h5>
                <p class="greenP">{{ $t('dashboard.bank-accounts.number') }}</p>
            </div>
            <div class="progress" style="height: 3rem;">
                <div class="progress-bar bg-income rounded-right" role="progressbar" style="width: 47.6%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        <!-- expenses -->
        <div class="expenses">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="h5">{{ $t('dashboard.sidebar.Expenses') }}</h5>
                <p class="greyP">{{ $t('dashboard.bank-accounts.number82') }}</p>
            </div>
            <div class="progress" style="height: 3rem;">
                <div class="progress-bar bg-expenses" role="progressbar" style="width: 76.7%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'DashboardProfitLoss',
}
</script>

<style scoped>
.common {
    padding: 2rem;
    background: #FFFFFF;
    border-radius: 12px;
    color: #212121;
}

.section-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px; 
}

.dropdown-item {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-transform: capitalize;
    color: #212121;
}

.income, .expenses {
    margin-top: 40px;
} 

.progress,
.progress-bar {
    border-radius: 5px;
}

.bg-income {
    background-color: #2E9E20;
}

.bg-expenses {
    background-color: #59597B;
}

.dropdown {
    margin: 1rem 0rem;
}

.dropdown button {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #212121;
}

.p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #B5B5C3;
}

.h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #212121;
}

.greenP {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #2E9E20;
}

.greyP {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #59597B;
}
</style>
