<template>
    <div class="bg-white common inv">
        <div class="d-flex justify-content-between align-items-center">
            <div class="">
                <h3 class="fs-2 section-title">{{ $t('dashboard.invoices.invoices') }}</h3>
                <p class="p">{{ $t('dashboard.profitAndLoss.netIncome') }}</p>
            </div>
            <a href=""><img class="d-inline" src="../assets/dashboard/imgs/File Plus icon.png" alt=""></a>
        </div>

        <!-- overdue -->
        <div class="overdue">
            <div class="mb-3">
                <h5 class="h5 d-inline mr-2">{{ $t('dashboard.bank-accounts.currency') }} 0 {{ $t('dashboard.invoices.unpaid') }}</h5>
                <p class="p d-inline">{{ $t('dashboard.invoices.lastUpdate365') }}</p>
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <h5 class="h5">{{ $t('dashboard.invoices.overdue') }}</h5>
                <p class="yellowP">{{ $t('dashboard.invoices.overdueStatus') }}</p>
            </div>

            <div class="progress" style="height: 3rem; background-color: #FBC55E;">
                <div 
                    class="progress-bar" 
                    role="progressbar" 
                    style="width: 47.6%; background-color: #FFA800;" 
                    aria-valuenow="25" 
                    aria-valuemin="0" 
                    aria-valuemax="100"
                ></div>
            </div>
        </div>

        <!-- not deposited -->
        <div class="notdeposited">
            <div class="mb-3">
                <h5 class="h5 d-inline mr-2">{{ $t('dashboard.bank-accounts.currency') }} 0 {{ $t('dashboard.invoices.unpaid') }}</h5>
                <p class="p d-inline">{{ $t('dashboard.invoices.lastUpdate') }}</p>
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <h5 class="h5">{{ $t('dashboard.invoices.notDeposited') }}</h5>
                <p class="greenP">{{ $t('dashboard.invoices.deposited') }}</p>
            </div>

            <div class="progress" style="height: 3rem; background-color: #95C15E;">
                <div 
                    class="progress-bar" 
                    role="progressbar" 
                    style="width: 76.7%; background-color: #2E9E20;" 
                    aria-valuenow="25" 
                    aria-valuemin="0" 
                    aria-valuemax="100"
                ></div>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    name: 'DashboardInvoices',
}
</script>

<style scoped>
.common {
    padding: 2rem;
    background: #FFFFFF;
    border-radius: 12px;
    color: #212121;
}

.section-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px; 
}

.progress,
.progress-bar {
    border-radius: 5px;
}

.yellowP {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #FFA800;
}

.greenP {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #2E9E20;
}

.p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #B5B5C3;
}

.h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #212121;
}

.overdue, .notdeposited {
    margin: 30px 0px 0px 0px;
}
</style>
