<template>
    <div class="header whiteBg" >
        <!-- navbar start -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="d-flex align-items-start">
                <span class="openbtn"></span>
                <p class="companyName ml-2">Skep Home <br> Corp.</p>
            </div>

            <button 
                class="navbar-toggler" 
                type="button" 
                data-toggle="collapse" 
                data-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" 
                aria-expanded="false" 
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse ml-3" id="navbarSupportedContent">
                <!-- <div class="d-flex flex-column"> -->
                    <!-- <div class="d-flex justify-content-between"> -->
                        <!-- <div class="name-container"> -->
                            <!-- <p class="companyName ml-2">Skep Home <br> Corp.</p> -->
                        <!-- </div> -->
                        <!-- <div class="list-container" :class="{listToggled:getisToggled}"> -->
                            <ul class="navbar-nav mb-2 list">
                                <li class="nav-item">
                                    <img src="../assets/dashboard/imgs/067-magnifier-tool.png" alt="">
                                </li>
                                <li class="nav-item">
                                    <img src="../assets/dashboard/imgs/138-bell-alarm-symbol.png" alt="">
                                </li>
                                <li class="nav-item">
                                    <img src="../assets/dashboard/imgs/066-gear.png" alt="">
                                </li>
                                <li class="nav-item">
                                    <a href="" @click.prevent="changeLang">
                                        <img src="../assets/dashboard/imgs/Flag.png" alt="">
                                    </a>
                                </li>
                                <li class="nav-item userName">
                                    <span class="hi">{{ $t('message') }}</span>, Amr
                                </li>
                                <li class="nav-item">
                                    <img src="../assets/dashboard/imgs/Initial icon.png" alt="">
                                </li>
                            </ul>
                        <!-- </div> -->
                    <!-- </div> -->
                    <!-- <div class="revolver-container"> -->
                        <!-- <revolver></revolver> -->
                    <!-- </div> -->
                <!-- </div> -->
            </div>
        </nav>
        <!-- navbar end -->

        <div class="whiteBg">
            <revolver></revolver>

            <div class="bottom-bar">
                <!-- tabs -->
                <ul class="tabslist">
                    <li class="tab"><a href="" class="active">Get things done</a></li>
                    <li class="tab"><a href="">Business over view</a></li>
                </ul>

                <!-- add new -->
                <b-button variant="success" class="greenBtn">+ New</b-button>
            </div>
        </div>
    </div>
</template>

<script>
import Revolver from '../components/Revolver'
import { mapGetters, mapActions } from 'vuex'
import i18n from '../plugins/i18n.js'

export default {
    name: 'DashboardHeader',
    data() {
        return {
            isToggled: false,
        }
    },
    components: {
        Revolver,
    },
    computed: {
        ...mapGetters(['getisToggled'])
    },
    methods: {
        changeLang() {
            if(i18n.locale === 'en') {
                i18n.locale = 'ar'
                document.querySelector('html').dir = 'rtl'
                console.log(document.querySelector('html').dir);
            }
            else {
                i18n.locale = 'en'
                document.querySelector('html').dir = 'ltr'
                console.log(document.querySelector('html').dir);
            }
            console.log(document.getElementById('wrapper').children);
        }
    }
}
</script>

<style scoped>
@font-face {
  font-family: 'Poppins';
  src: local('Popppins'), url('../assets/landing/fonts/Poppins-SemiBold.ttf') format('truetype')
}

@font-face {
  font-family: 'Aldrich';
  src: local('Aldrich'), url('../assets/dashboard/fonts/Aldrich-Regular.ttf') format('truetype')
}

.navbar{
    background-color: #fff;
}

.userName {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
}

.hi {
    color: #959CB6;
}

.bottom-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 30px;
}

.greenBtn {
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    padding: 10px 25px;
    margin-right: 1.563rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}

.tab a {
    color: #959CB6;
    text-decoration: none;
    padding: 0rem 2rem 1rem 2rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
}

.tab a.active,
.tab a:hover {
    color: #2E9E20;
    border-bottom: 3px solid #2E9E20;
}

.openbtn {
    cursor: pointer;
    background: #F3F6F9;
    border-radius: 5px;
    color: #1E1E2D;
    padding: 10px 15px;
    border: none;
    width: 90px;
    height: 90px;
}

.openbtn:hover {
  background-color: #444;
  color: #fff;
}

.companyName {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #6C7293;
}

.list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

.tabslist {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.whiteBg {
    background-color: #fff;
}

.nav-item {
    margin: 10px;
    cursor: pointer;
}

#menu-toggle {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
    .greenBtn {
        display: none;
    }

    .navbar-toggler {
        margin-right: 85px;
    }
}

@media screen and (max-width: 748px) {
    .navbar-toggler {
        margin-right: 85px;
    }
}
</style>
