<template>
    <div class="" id="small-sidebar-wrapper">
        <div class="logo">
            <a href="" class="p-0">
                <img @click.prevent="toggleSide" class="d-inline m-auto" src="../assets/dashboard/imgs/user-octagon.png" alt="">
            </a>
        </div>

        <div class="list-group list-group-flush my-3">
            <a class="d-flex align-items-center active list-group-item-action bg-transparent my-3" href="#">
                <img class="d-inline m-auto" src="../assets/dashboard/imgs/dashboard.png" alt="">
            </a>
            <a class="d-flex align-items-center list-group-item-action bg-transparent my-3" href="#">
                <img class="d-inline m-auto" src="../assets/dashboard/imgs/dollar-square.png" alt="">
            </a>
            <a class="d-flex align-items-center list-group-item-action bg-transparent my-3" href="#">
                <img class="d-inline m-auto" src="../assets/dashboard/imgs/moneys.png" alt="">
            </a>
            <a class="d-flex align-items-center list-group-item-action bg-transparent my-3" href="#">
                <img class="d-inline m-auto" src="../assets/dashboard/imgs/money-change.png" alt="">
            </a>
            <a class="d-flex align-items-center list-group-item-action bg-transparent my-3" href="#">
                <img class="d-inline m-auto" src="../assets/dashboard/imgs/moneys.png" alt="">
            </a>
            <a class="d-flex align-items-center list-group-item-action bg-transparent my-3" href="#">
                <img class="d-inline m-auto" src="../assets/dashboard/imgs/Library.png" alt="">
            </a>
            <a class="d-flex align-items-center list-group-item-action bg-transparent my-3" href="#">
                <img class="d-inline m-auto" src="../assets/dashboard/imgs/chart-2.png" alt="">
            </a>
            <a class="d-flex align-items-center list-group-item-action bg-transparent my-3" href="#">
                <img class="d-inline m-auto" src="../assets/dashboard/imgs/graph.png" alt="">
            </a>
            <a class="d-flex align-items-center list-group-item-action bg-transparent my-3" href="#">
                <img class="d-inline m-auto" src="../assets/dashboard/imgs/huobi-token-(ht).png" alt="">
            </a>
            <a class="d-flex align-items-center list-group-item-action bg-transparent my-3" href="#">
                <img class="d-inline m-auto" src="../assets/dashboard/imgs/strongbox.png" alt="">
            </a>
            <a class="d-flex align-items-center list-group-item-action bg-transparent my-3" href="#">
                <img class="d-inline m-auto" src="../assets/dashboard/imgs/strongbox.png" alt="">
            </a>
        </div>
    </div>    
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    name: 'DashboardSmallSidebar',
    computed: {
        ...mapGetters(['getisToggled'])
    },
    methods: {
        ...mapActions(['openSideAction']),
        toggleSide() {
            if(this.getisToggled) {
                this.openSideAction(false)
            }
            else {
                this.openSideAction(true)
            }
        },
    }
}
</script>

<style scoped>

</style>