<template>
    <div class="p-3 bg-white common">
        <h3 class="fs-2 section-title">Cash Flow</h3>
        
        <div class="switch-container">
            <div class="button b2" id="button-10">
            <input type="checkbox" class="checkbox">
            <div class="knobs">
                <span>Monthly In/Out</span>
            </div>
            <div class="layer"></div>
            </div>
        </div>

        <div class="balance-container text-center">
            <p>Cash Balance</p>
            <h4>40,000 EGP</h4>
        </div>

        <div class="row mt-5">
            <div class="col">
                <bar-chart
                    :options="chartOptions"
                    dir="rtl"
                />
            </div>
        </div>

    </div>
</template>

<script>
import BarChart from '../components/charts/BarChart'
import ChartjsComponentBarChart from '../components/ChartjsComponentBarChart'

export default {
    name: 'DashboardCashFlow',
    data() {
        return {
            chartOptions: {
                responsive: true,
                maintainAspectRatio: false,
                aspectRatio: 1,
                scales: {
                    xAxes: [{
                        gridLines: {
                            borderDash: [0, 10],
                            color: "#E5EAEE"
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            borderDash: [6, 5],
                            color: "#E5EAEE"
                        }
                    }]
                }
            },
        }
    },
    components: {
        BarChart,
        ChartjsComponentBarChart
    },
}
</script>

<style scoped>
.common {
    padding: 25px 30px;
    background: #FFFFFF;
    border-radius: 12px;
    color: #212121;
    position: relative;
}

.section-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px; 
}

.custom-control-label {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #B5B5C3;
}

.balance-container {
    position: absolute;
    right: 55px;
    bottom: 84px;
    z-index: 5;
    background-color: #FFFFFF;
    padding: 12px 22px;
    opacity: 0.9;
    border-radius: 5px;
}

.balance-container p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    color: #6C7293;
}

.balance-container h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 21px;
    color: #212121;
}


/* yes, no */

.switch-container {
    position: absolute;
    right: 35px;
    top: 45px;
}

.button-cover, .knobs, .layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 279px;
  height: 50px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.button.b2 {
  border-radius: 4px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs
{
  z-index: 2;
}

.layer
{
  width: 100%;
  background-color: #F3F6F9;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Button 10 */
#button-10 .knobs::before, #button-10 .knobs::after, #button-10 .knobs span
{
    position: absolute;
    top: 4px;
    width: 135px;
    height: 42px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    border-radius: 2px;
    transition: 0.3s ease all;
}

#button-10 .knobs:before
{
  content: '';
  left: 4px;
  background-color: #fff;
}

#button-10 .knobs:after
{
    content: 'Cash Balance';
    right: 4px;
    color: #B5B5C3;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

#button-10 .knobs span
{
    display: inline-block;
    left: 4px;
    color: #333;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

#button-10 .checkbox:checked + .knobs span
{
    color: #fff;
}

#button-10 .checkbox:checked + .knobs:before
{
    left: 140px;
    background-color: #fff;
}

#button-10 .checkbox:checked + .knobs:after
{
    color: #333;
}

#button-10 .checkbox:checked ~ .layer
{
    background-color: #2E9E20;
}

html[dir="rtl"] .balance-container {
    left: 55px;
}


html[dir="rtl"] .switch-container {
    left: 35px;
}

</style>
