<template>
    <!-- <div class="hero">
        
        <div class="container heroContent">

           
            <div class="right">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../assets/landing/imgs/heroDashboardImg.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../assets/landing/imgs/slide2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../assets/landing/imgs/slide3.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            
            <div class="left text-start">
                <h1>Smart, simple online accounting software for small business</h1>

                <p>Track expenses, customise invoices, run reports and even more all from one place.</p>

                <div>
                    <b-button variant="success" class="greenBtn">GET STARTED</b-button>

                    <b-button variant="light" class="lighBtn">
                        LEARN MORE
                        <img src="../assets/landing/imgs/Arrow 1rightArrow.png" alt="">
                    </b-button>
                </div>
            </div>
        </div>
    </div> -->

    <div class="hero">
    <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="4000"
      controls
      indicators
      background="#ababab"
      img-width="1024"
      img-height="480"
      style="text-shadow: 1px 1px 2px #333;"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <!-- Text slides with image -->
      <b-carousel-slide
        img-src="../assets/landing/imgs/slide1.jpg"
      ></b-carousel-slide>

      <!-- Slides with custom text -->
      <b-carousel-slide img-src="../assets/landing/imgs/slide2.jpg">
      </b-carousel-slide>

      <!-- Slides with image only -->
      <b-carousel-slide img-src="../assets/landing/imgs/slide3.jpg"></b-carousel-slide>
    </b-carousel>
  </div>
</template>

<script>
export default {
    name: 'HomeHeroTwo',
    components: {
    },
    data() {
      return {
        slide: 0,
        sliding: null
      }
    },
    methods: {
      onSlideStart(slide) {
        this.sliding = true
      },
      onSlideEnd(slide) {
        this.sliding = false
      }
    }
}
</script>

<style scoped>
@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url('../assets/landing/fonts/Rubik-Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('../assets/landing/fonts/Inter-Regular.ttf') format('truetype')
}

/* .hero {
    position: relative;
    height: 20rem;
    width: 100%;
}

.heroContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 15rem 0rem;
}

.left {
    text-align: start;
    color: #000000;
    margin-left: 2rem;
}

.left h1 {
    line-height: 47px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    margin-bottom: 2rem;
}

.left p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

.greenBtn {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    text-align: center;
    letter-spacing: 0.03em;

    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 25px;

    margin-right: 1.563rem; 
}

.lighBtn {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    text-align: right;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #000000;
    background: #fff;
    border: none
}

.lighBtn img {
    margin-left: 0.8rem; 
} */
</style>