<template>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <b-navbar-brand href="#" class="logo">
                        <span class="logoPic"><img src="../assets/landing/imgs/TASLogo.png" alt=""></span>
                        <span class="logoTxt"><img src="../assets/landing/imgs/TASWhiteTxt.png" alt=""></span>
                    </b-navbar-brand>

                    <p class="location mb-4">
                        Company <br>
                        1234 5th AVE N. <br>
                        Seattle, WA 98101
                    </p>

                    <ul class="socialList pl-0 d-flex">
                        <li class="mr-4"><img src="../assets/landing/imgs/facebook.png" alt=""></li>
                        <li class="mr-4"><img src="../assets/landing/imgs/twitter.png" alt=""></li>
                        <li class="mr-4"><img src="../assets/landing/imgs/instagram.png" alt=""></li>
                    </ul>
                </div>

                <div class="col">
                    <ul class="links">
                        <li><h5>Product</h5></li>
                        <li><h5>Login</h5></li>
                        <li><h5>Overview</h5></li>
                        <li><h5>Feedback</h5></li>
                    </ul>
                </div>

                <div class="col">
                    <ul class="links">
                        <li><h5>Resources</h5></li>
                        <li><h5>Help center</h5></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyrights d-flex justify-content-center">
            <p class="mr-4">© 2021 TAS. All rights reserved.</p>
            <p>Privacy Policy</p>
        </div>
    </footer>
</template>

<script>
export default {
    name: 'HomeFooter',
}
</script>

<style scoped>
@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('../assets/landing/fonts/Inter-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url('../assets/landing/fonts/Rubik-Bold.ttf') format('truetype')
}

ul {
    list-style-type: none;
}

a {
    text-decoration-style: none;
}

footer {
    background: #000;
    color: #fff;
}

.container {
    padding: 6.25rem 0rem;
}

.logo {
    margin-bottom: 55px;
}

.logoPic img {
    width: 40.17px;
    height: 39.93px;
}

.logoTxt img {
    width: 50px;
    height: 18px;
    margin-left: 0.5rem; 
}

.location {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.links li {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
    margin-bottom: 24px;
}

.links li:hover{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
}

.socialList li {
    cursor: pointer;
    margin-top: 55px;
}

.copyrights {
    padding: 30px 0px;
}

.copyrights p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 760px){
    .row {
        display: flex;
        flex-direction: column;
        padding: 0rem 3rem; 
    }
}

</style>
