<template>
    <section class="testimonialsMain">
        <div class="container">
            <!-- heading -->
            <div class="testimonialsHeading">
                <p class="preheader">testimonials</p>

                <h1>What our customers say</h1>
            </div>

            <div class="list row">
                <div class="card col mr-4">
                    <div class="card-body">
                        <img class="mb-4" src="../assets/landing/imgs/quote.png" alt="">
                        <p>
                            “I didn’t have the time or expertise to undertake marketing. Kalungi has a very well thought out approach… and the fact that you can get their team on a fractional basis is unbelievable.”
                        </p>

                        <div class="personInfo d-flex mt-4">
                            <img class="mr-4" src="../assets/landing/imgs/person.png" alt="">
                            <div>
                                <p class="position d-inline">Co-founder, Kalungi</p>
                                <p class="name">Stijn Hendrikse</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card col mr-4">
                    <div class="card-body">
                        <img class="mb-4" src="../assets/landing/imgs/quote.png" alt="">
                        <p>
                            “I didn’t have the time or expertise to undertake marketing. Kalungi has a very well thought out approach… and the fact that you can get their team on a fractional basis is unbelievable.”
                        </p>

                        <div class="personInfo d-flex mt-4">
                            <img class="mr-4" src="../assets/landing/imgs/person.png" alt="">
                            <div>
                                <p class="position d-inline">Co-founder, Kalungi</p>
                                <p class="name">Stijn Hendrikse</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card col mr-4">
                    <div class="card-body">
                        <img class="mb-4" src="../assets/landing/imgs/quote.png" alt="">
                        <p>
                            “I didn’t have the time or expertise to undertake marketing. Kalungi has a very well thought out approach… and the fact that you can get their team on a fractional basis is unbelievable.”
                        </p>

                        <div class="personInfo d-flex mt-4">
                            <img class="mr-4" src="../assets/landing/imgs/person.png" alt="">
                            <div>
                                <p class="position d-inline">Co-founder, Kalungi</p>
                                <p class="name">Stijn Hendrikse</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'HomeTestimonials',
}
</script>

<style scoped>
@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('../assets/landing/fonts/Inter-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url('../assets/landing/fonts/Rubik-Bold.ttf') format('truetype')
}

.testimonialsMain {
    padding: 6.75rem 0rem;
}

.testimonialsHeading {
    margin-bottom: 4rem;
}

.preheader {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: start;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #2E9E20;
}

.testimonialsHeading h1 {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-align: start;
    color: #000000;
}

.card {
    background: #FFFFFF;
    border: 0.2px solid #f7f7f7;
    box-shadow: 0px 11px 30px rgba(154, 161, 177, 0.2);
    border-radius: 9px;
    cursor: pointer;
}

.card:hover {
    border: 0.2px solid #6492FD;
}

.card-body img {
    position: static;
    width: 41.38px;
    height: 34.84px;
    left: 0px;
    top: 0px;
}

.card-body p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
}

.personInfo img {
    position: static;
    width: 53.24px;
    height: 51.29px;
    left: 0px;
    top: 0px;
    border-radius: 31.6326px;
}

.personInfo .position {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4678EE;
}

.personInfo .name {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

@media screen and (max-width: 760px){
    .list {
        display: flex;
        flex-direction: column; 
        padding: 0rem 1rem;  
    }

    .card {
        margin-bottom: 1rem;
    }
}
</style>
