<template>
    <section class="blogMain">
        <div class="container">
            <!-- heading -->
            <div class="blogHeading">
                <p class="preheader">blog</p>

                <h1>Read our latest news</h1>
            </div>
            
            <div class="blogCards d-flex">
                <div class="card ebook mr-4">
                    <img src="../assets/landing/imgs/ebook.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p>EBOOK</p>
                        <h4>How to create your first marketing dashboard</h4>
                    </div>
                </div>

                <div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <p>GUIDE</p>
                            <h4>5 steps to managing effective KPIs for your SaaS marketing team</h4>

                            <b-button variant="light" class="lighBtn p-0">
                                <a href="https://drive.google.com/uc?id=15bgPU2y1BK75QYnz8XjXAQS7ZPlgtUHJ&export=download">DOWNLOAD</a> 
                                <img src="../assets/landing/imgs/Arrow 1rightArrow.png" alt="">
                            </b-button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <p>WEBINAR</p>
                            <h4>How to create your first marketing dashboard</h4>

                            <b-button variant="light" class="lighBtn p-0">
                                <a href="https://drive.google.com/uc?id=15bgPU2y1BK75QYnz8XjXAQS7ZPlgtUHJ&export=download">DOWNLOAD</a>
                                <img src="../assets/landing/imgs/Arrow 1rightArrow.png" alt="">
                            </b-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'HomeBlog',
}
</script>

<style scoped>
@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('../assets/landing/fonts/Inter-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url('../assets/landing/fonts/Rubik-Bold.ttf') format('truetype')
}

.blogMain {
    background: #F7F7F7;
    padding: 6.75rem 0rem;
}

.blogHeading {
    margin-bottom: 4rem;
}

.preheader {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #2E9E20;
}

.blogHeading h1 {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #000000;
}

.card {
    box-shadow: 0px 11px 30px rgba(154, 161, 177, 0.2);
    cursor: pointer;
    border-radius: 10px;
}

.card:hover {
    border: 0.2px solid #6492FD;
}

.ebook {
    position: static;
    width: 598px;
    /* height: 371px; */
    left: 0px;
    top: 0px;
}


.card-body p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E9E20;
}

.card-body h4 {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}

.lighBtn {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    text-align: right;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #000000;
    background: #fff;
    border: none
}

.lighBtn img {
    margin-left: 0.8rem; 
}

@media screen and (max-width: 760px){
    .blogCards {
        display: flex;
        flex-direction: column;
    }

    .ebook {
        max-width: 450px;
        margin-bottom: 1rem;
    }
}

</style>
