<template>
    <div class="getStartedMain">
        <div class="container">
            <!-- heading -->
            <div class="getstartedHeading">
                <p class="preheader">start converting today</p>

                <h1>One tool for all your metrics</h1>
            </div>

            <div class="buttons d-flex justify-content-center">
                <b-button variant="success" class="greenBtn">Get a demo</b-button>

                <b-button variant="outline-success" class="greenOutlinedBtn">try for free</b-button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'HomeGetstarted',
}
</script>

<style scoped>
@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('../assets/landing/fonts/Inter-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url('../assets/landing/fonts/Rubik-Bold.ttf') format('truetype')
}

.getStartedMain {
    background: #F7F7F7;
    padding: 6.75rem 0rem;
}

.getstartedHeading {
    margin-bottom: 4rem;
}

.preheader {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #2E9E20;
}

.getstartedHeading h1 {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #000000;
}

.greenBtn {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 25px;
    margin-right: 1.563rem; 
}

.greenOutlinedBtn {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E9E20;
    padding: 10px 25px;

    margin-right: 1.563rem; 
}

.greenOutlinedBtn:hover {
    color: #fff;
}

@media screen and (max-width: 760px){
    .buttons {
        display: flex;
        flex-direction: column;
        padding: 0rem 1rem;
    }

    .greenBtn {
        margin-bottom: 0.5rem;
    }
}
</style>
