<template>
    <section class="pricingMain">
        <div class="container">
            <!-- heading -->
            <div class="pricingHeading">
                <p class="preheader">Pricing</p>

                <h1>Select Your Plan and Enjoy</h1>
            </div>

            <div class="row align-items-start priceList">
                <div class="col plan mr-4 mb-4">
                    <div>
                        <p class="name">Basic</p>

                        <div class="price mb-4 text-center">
                            <h3 class="d-inline">$30</h3>
                            <span>/mo</span>
                        </div>

                        <p class="desc">Flat fee for up to 200 users</p>

                        <p class="desc mb-4">Set the foundation with all your team needs for basic data integrations.</p>

                        <hr >
                    </div>

                    <div class="mb-4">
                        <div class="mb-2">
                            <img class="d-inline mr-2" src="../assets/landing/imgs/check.png" alt="">
                            <p class="d-inline">Up to 200 users</p>
                        </div>

                        <div class="mb-2">
                            <img class="d-inline mr-2" src="../assets/landing/imgs/check.png" alt="">
                            <p class="d-inline">Up to 35 automatic data pushes</p>
                        </div>

                        <div class="mb-2">
                            <img class="d-inline mr-2" src="../assets/landing/imgs/check.png" alt="">
                            <p class="d-inline">Limited access to T2D3 API</p>
                        </div>

                        <div class="mb-2">
                            <img class="d-inline mr-2" src="../assets/landing/imgs/check.png" alt="">
                            <p class="d-inline">Assign user-level permissions</p>
                        </div>

                        <div class="mb-2">
                            <img class="d-inline mr-2" src="../assets/landing/imgs/check.png" alt="">
                            <p class="d-inline">3 solution templates</p>
                        </div>
                    </div>

                    <b-button variant="success" class="greenBtn">Get started</b-button>

                </div>

                
                <div class="col plan proPlan mr-4 mb-4">
                    <span class="mostPopular">Most Popular</span>

                    <div>
                        <p class="name">Pro</p>

                        <div class="price mb-4 text-center">
                            <h3 class="d-inline">$90</h3>
                            <span>/mo</span>
                        </div>

                        <p class="desc">Flat fee for up to 200 users</p>

                        <p class="desc mb-4">Set the foundation with all your team needs for basic data integrations.</p>

                        <hr >
                    </div>

                    <div class="mb-4">
                        <div class="mb-2">
                            <img class="d-inline mr-2" src="../assets/landing/imgs/check.png" alt="">
                            <p class="d-inline">Up to 200 users</p>
                        </div>

                        <div class="mb-2">
                            <img class="d-inline mr-2" src="../assets/landing/imgs/check.png" alt="">
                            <p class="d-inline">Up to 35 automatic data pushes</p>
                        </div>

                        <div class="mb-2">
                            <img class="d-inline mr-2" src="../assets/landing/imgs/check.png" alt="">
                            <p class="d-inline">Limited access to T2D3 API</p>
                        </div>

                        <div class="mb-2">
                            <img class="d-inline mr-2" src="../assets/landing/imgs/check.png" alt="">
                            <p class="d-inline">Assign user-level permissions</p>
                        </div>

                        <div class="mb-2">
                            <img class="d-inline mr-2" src="../assets/landing/imgs/check.png" alt="">
                            <p class="d-inline">5 solution templates</p>
                        </div>

                        <div class="mb-2">
                            <img class="d-inline mr-2" src="../assets/landing/imgs/check.png" alt="">
                            <p class="d-inline">Dedicated onboarding specialist</p>
                        </div>

                        <div class="mb-2">
                            <img class="d-inline mr-2" src="../assets/landing/imgs/check.png" alt="">
                            <p class="d-inline">24/7 online support</p>
                        </div>

                        <div class="mb-2">
                            <img class="d-inline mr-2" src="../assets/landing/imgs/check.png" alt="">
                            <p class="d-inline">Custom branding</p>
                        </div>

                        <div class="mb-2">
                            <img class="d-inline mr-2" src="../assets/landing/imgs/check.png" alt="">
                            <p class="d-inline">Unlimited storage space</p>
                        </div>
                    </div>

                    <b-button variant="success" class="greenBtn">Get started</b-button>

                </div>

                
                <div class="col plan mb-4">
                    <div>
                        <p class="name">Enterprise</p>

                        <div class="price mb-4 text-center">
                            <h3 class="d-inline">Custom</h3>
                        </div>

                        <p class="desc">Get in touch for a custom quote</p>

                        <p class="desc mb-4">Set the foundation with all your team needs for basic data integrations.</p>

                        <hr >
                    </div>

                    <div class="mb-4">
                        <div class="mb-2">
                            <img class="d-inline mr-2" src="../assets/landing/imgs/check.png" alt="">
                            <p class="d-inline">Up to 200 users</p>
                        </div>

                        <div class="mb-2">
                            <img class="d-inline mr-2" src="../assets/landing/imgs/check.png" alt="">
                            <p class="d-inline">Up to 35 automatic data pushes</p>
                        </div>

                        <div class="mb-2">
                            <img class="d-inline mr-2" src="../assets/landing/imgs/check.png" alt="">
                            <p class="d-inline">Limited access to T2D3 API</p>
                        </div>

                        <div class="mb-2">
                            <img class="d-inline mr-2" src="../assets/landing/imgs/check.png" alt="">
                            <p class="d-inline">Assign user-level permissions</p>
                        </div>

                        <div class="mb-2">
                            <img class="d-inline mr-2" src="../assets/landing/imgs/check.png" alt="">
                            <p class="d-inline">Custom solution templates</p>
                        </div>
                    </div>

                    <b-button variant="success" class="greenBtn">Get started</b-button>

                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'HomePricing',
}
</script>

<style scoped>
@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('../assets/landing/fonts/Inter-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url('../assets/landing/fonts/Rubik-Bold.ttf') format('truetype')
}

.pricingMain {
    padding: 6.75rem 0rem;
}

.pricingHeading {
    margin-bottom: 4rem;
}

.preheader {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #2E9E20;
}

.pricingHeading h1 {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #000000;
}

.plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px;
    background: #FFFFFF;
    border: 0.2px solid #F7F7F7;
    box-sizing: border-box;
    box-shadow: 0px 11px 30px rgba(154, 161, 177, 0.2);
    border-radius: 10px;
}

.plan:hover {
    border: 0.2px solid #6492FD;
}

.proPlan {
    position: relative;
}

.mostPopular {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.03em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    background: #F2F5FB;
    border-radius: 29px;
    padding: 10px 28px;
    height: 34px;
    position: absolute;
    top: -17px;
}

.name {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.03em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}

.price h3 {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #2E9E20;
}
.price span {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #2E9E20;
}

.desc {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
}

.greenBtn {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 25px;
    margin-right: 1.563rem;
    width: 100%;
}


@media screen and (max-width: 760px) {
    .priceList {
        display: flex;
        flex-direction: column;
        padding: 0rem 1rem;
    }
}
</style>
