<template>
    <div class="shadow">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a href="#">
              <span class="logoPic"><img src="../assets/landing/imgs/Vector.svg" alt=""></span>
              <span class="logoTxt"><img src="../assets/landing/imgs/TAStxt.png" alt=""></span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto">

              <li class="nav-item navItem dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                  PRODUCT
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">product 1</a>
                  <a class="dropdown-item" href="#">product 2</a>
                  <a class="dropdown-item" href="#">product 3</a>
                </div>
              </li>

              <li class="nav-item navItem dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                  PRICING
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Plan 1</a>
                  <a class="dropdown-item" href="#">Plan 2</a>
                  <a class="dropdown-item" href="#">Plan 3</a>
                </div>
              </li>

              <li class="nav-item navItem">
                <a class="nav-link" href="#">RESOURCES</a>
              </li>

              <li class="nav-item navItem">
                <a class="nav-link" href="#">CONTACT US</a>
              </li>

              <li class="nav-item navItem">
                <a class="nav-link" href="#">ABOUT</a>
              </li>
            </ul>

            <div>
              <b-button variant="light" class="lighBtn" v-b-modal.modal-1>SIGN IN</b-button>

              <b-modal id="modal-1" title="Sign In">
                <form @submit.prevent="login">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input 
                      type="email" 
                      class="form-control" 
                      id="exampleInputEmail1" 
                      aria-describedby="emailHelp"
                      v-model="user.email"
                      v-validate="'required|email'"
                      name="email"
                      required
                    >
                    <div class="alert alert-danger" v-show="errors.has('email')">
                      {{errors.first('email')}}
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input 
                      type="password" 
                      class="form-control" 
                      id="exampleInputPassword1"
                      v-model="user.password"
                      name="password"
                      v-validate="'required'"
                      required
                      min="8"
                    >
                    <div class="alert alert-danger" v-show="errors.has('password')">
                      {{errors.first('password')}}
                    </div>
                  </div>
                  <b-button variant="success" type="submit" class="greenBtn">Sign In</b-button>
                </form>
              </b-modal>

              <b-button variant="success" class="greenBtn">START 30 DAYS TRIAL</b-button>
            </div>
          </div>
        </nav>

    </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
    name: 'HomeNavbar',
    data() {
      return {
        user: {
          email: "",
          password: ""
        },
      }
    },
    methods: {
      ...mapActions(["loginAction"]),
      login() {
        this.loginAction(this.user)
      }
    }
}
</script>

<style scoped>
@font-face {
  font-family: 'Poppins';
  src: local('Popppins'), url('../assets/landing/fonts/Poppins-SemiBold.ttf') format('truetype')
}

.shadow {
  box-shadow: 1px 17px 48px 4px rgba(120,115,115,0.92);
  width: 100%;
  min-width: 53px;
}

.navbar {
  padding: 30px 112px;
}

 .logoPic img {
    width: 40.17px;
    height: 39.93px;
 }

  .logoTxt img {
    width: 50px;
    height: 18px;
    margin-left: 0.5rem; 
  }

  .lighBtn {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #000000;
    margin: 6px 0px;
    /* padding: 10px 25px; */
  }

  .greenBtn {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;

    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    margin: 0px 10px;
    padding: 10px 25px;
  }

  .navItem {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #1E1E1E;
    margin: 0px 8px;
  }

  .navCont {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 0px 112px;
  }
</style>
