<template>
    <div class="featuresMain">
        <div class="container">
            <!-- heading -->
            <div class="featuresHeading">
                <p class="preheader">Powerful Features</p>

                <h1>Here’s all the good stuff</h1>
            </div>

            <!-- list of features container -->
            <div class="featuresList d-flex">
                <div class="feature mr-4">
                    <img class="mb-4" src="../assets/landing/imgs/feature1.png" alt="">
                    <h4 class="mb-4">Hello organised</h4>
                    <p>TAS Online keeps everything in its right place, so you’ll always have what you need when you need it.</p>
                </div>

                <div class="feature mr-4">
                    <img class="mb-4" src="../assets/landing/imgs/feature2.png" alt="">
                    <h4 class="mb-4">Free up time</h4>
                    <p>Sync with your bank and favourite apps, so your books are always accurate and up to date.</p>
                </div>

                <div class="feature mr-4">
                    <img class="mb-4" src="../assets/landing/imgs/feature3.png" alt="">
                    <h4 class="mb-4">Claim everything</h4>
                    <p>Claim every entitlement at tax time with your expense receipts stored and sorted in TAS.</p>
                </div>

                <div class="feature mr-4">
                    <img class="mb-4" src="../assets/landing/imgs/feature4.png" alt="">
                    <h4 class="mb-4">Unlimited support</h4>
                    <p>With TAS free and unlimited customer support, help is always just a click away.</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'HomeFeatures',
}
</script>

<style scoped>
@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('../assets/landing/fonts/Inter-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url('../assets/landing/fonts/Rubik-Bold.ttf') format('truetype')
}

.featuresMain {
    background: #F7F7F7;
    padding: 6.75rem 0rem;
}

.featuresHeading {
    margin-bottom: 4rem;
}

.preheader {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #2E9E20;
}

.featuresHeading h1 {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #000000;
}

.feature {
    text-align: start;
}

.feature h4 {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: #000000;
}

.feature p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
}

@media screen and (max-width: 760px){
    .featuresList {
        display: flex;
        flex-direction: column;
        padding:  0rem 1rem;
    }
}

</style>
