<template>
    <div class="hero">

        <!-- the left bottom blob -->
        <div class="leftBlob">
            <home-hero-blob></home-hero-blob>
        </div>

        <div class="slider bg-light border border-success">
            <div class="slide-track">
                <div class="slide" @click.prevent="slideClicked">
                    <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                    <p class="">US Dollar 1.3763</p>
                </div>
                <div class="slide" @click.prevent="slideClicked">
                    <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                    <p class="">US Dollar 1.3763</p>
                </div>
                <div class="slide" @click.prevent="slideClicked">
                    <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                    <p class="">US Dollar 1.3763</p>
                </div>
                <div class="slide" @click.prevent="slideClicked">
                    <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                    <p class="">US Dollar 1.3763</p>
                </div>
                <div class="slide" @click.prevent="slideClicked">
                    <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                    <p class="">US Dollar 1.3763</p>
                </div>
                <div class="slide" @click.prevent="slideClicked">
                    <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                    <p class="">US Dollar 1.3763</p>
                </div>
                <div class="slide" @click.prevent="slideClicked">
                    <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                    <p class="">US Dollar 1.3763</p>
                </div>
                <div class="slide" @click.prevent="slideClicked">
                    <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                    <p class="">US Dollar 1.3763</p>
                </div>
                <div class="slide" @click.prevent="slideClicked">
                    <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                    <p class="">US Dollar 1.3763</p>
                </div>

                <div class="slide" @click.prevent="slideClicked">
                    <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                    <p class="">US Dollar 1.3763</p>
                </div>
                <div class="slide" @click.prevent="slideClicked">
                    <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                    <p class="">US Dollar 1.3763</p>
                </div>
                <div class="slide" @click.prevent="slideClicked">
                    <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                    <p class="">US Dollar 1.3763</p>
                </div>
                <div class="slide" @click.prevent="slideClicked">
                    <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                    <p class="">US Dollar 1.3763</p>
                </div>
                <div class="slide" @click.prevent="slideClicked">
                    <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                    <p class="">US Dollar 1.3763</p>
                </div>
                <div class="slide" @click.prevent="slideClicked">
                    <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                    <p class="">US Dollar 1.3763</p>
                </div>
                <div class="slide" @click.prevent="slideClicked">
                    <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                    <p class="">US Dollar 1.3763</p>
                </div>
                <div class="slide" @click.prevent="slideClicked">
                    <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                    <p class="">US Dollar 1.3763</p>
                </div>
                <div class="slide" @click.prevent="slideClicked">
                    <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                    <p class="">US Dollar 1.3763</p>
                </div>
            </div>
        </div>

        <!-- hero content -->
        <div class="container-fluid heroContent">

            <!-- left section -->
            <div class="left text-start">
                <h1>Smart, simple online accounting software for small business</h1>

                <p>Track expenses, customise invoices, run reports and even more all from one place.</p>

                <div>
                    <b-button variant="success" class="greenBtn">GET STARTED</b-button>

                    <b-button variant="light" class="lighBtn">
                        LEARN MORE
                        <img src="../assets/landing/imgs/Arrow 1rightArrow.png" alt="">
                    </b-button>
                </div>
            </div>

            <!-- right section img/slider -->
            <div class="right">
                <img src="../assets/landing/imgs/heroDashboardImg.png" alt="">
            </div>
        </div>
    </div>
</template>

<script>
import HomeHeroBlob from '../components/HomeHeroBlob'

export default {
    name: 'HomeHero',
    components: {
        HomeHeroBlob,
    },
    methods: {
        slideClicked() {
            this.$router.push('/about')
        }
    }
}
</script>

<style scoped>
@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url('../assets/landing/fonts/Rubik-Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('../assets/landing/fonts/Inter-Regular.ttf') format('truetype')
}

.hero {
    position: relative;
    /* height: 44.688rem; */
    width: 100%;
}

.slider {
    height: 50px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    align-items: center;
    opacity: 0.6;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(250px * 18);
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 9));
    }
}


.slide {
    height: 20px;
    width: 250px;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 15px;
    cursor: pointer;
}

.slide p {
    margin-top: 16px;
}

.leftBlob {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -10;
}

.heroContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 112px;
}

.left {
    text-align: start;
    color: #000000;
    margin-right: 2rem;
}

.left h1 {
    line-height: 47px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    margin-bottom: 2rem;
}

.left p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

.greenBtn {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 25px;

    margin-right: 1.563rem; 
}

.lighBtn {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    text-align: right;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #000000;
    background: #fff;
    border: none
}

.lighBtn img {
    margin-left: 0.8rem; 
}

@media screen and (max-width: 760px){
    .heroContent {
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
    }

    .right img{
        margin-top: 2rem;
        max-width: 30rem; 
    }
}
</style>