<template>
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="357" height="235" viewBox="0 0 357 235" fill="none">
            <mask id="mask0_0_10133" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="-94" y="37" width="417" height="392">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M-92.2988 180.015C-87.5501 133.839 -67.8093 86.2427 -30.0244 59.278C7.01788 32.8433 56.7369 36.2284 101.95 41.3919C141.182 45.8721 173.717 67.5211 208.343 86.4999C246.347 107.33 294.749 118.307 313.534 157.362C332.664 197.133 314.161 243.157 304.395 286.195C294.197 331.139 292.884 384.69 255.757 411.996C218.843 439.145 167.734 419.74 121.915 420.404C78.3989 421.035 30.4756 440.463 -5.3687 415.78C-41.0897 391.182 -39.6539 339.505 -54.6581 298.811C-69.389 258.86 -96.6549 222.373 -92.2988 180.015Z" fill="#DAE3F9" stroke="#2E9E20" stroke-opacity="0.2"/>
            </mask>
            <g mask="url(#mask0_0_10133)">
                <path d="M-243.015 105.001L178.636 923.093" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-239.378 97.341L182.273 915.434" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-235.741 89.6811L185.91 907.774" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-232.104 82.0212L189.547 900.114" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-228.468 74.3611L193.184 892.454" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-224.83 66.7011L196.821 884.794" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-221.194 59.0412L200.458 877.134" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-217.557 51.3813L204.094 869.474" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-213.92 43.7214L207.732 861.814" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-210.283 36.0615L211.368 854.154" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-206.646 28.4016L215.005 846.494" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-203.009 20.7414L218.642 838.834" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-199.372 13.0815L222.279 831.174" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-195.735 5.4216L225.916 823.514" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-192.099 -2.23831L229.553 815.854" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-188.462 -9.89822L233.19 808.194" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-184.825 -17.5581L236.827 800.534" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-181.188 -25.2183L240.464 792.874" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-177.551 -32.8782L244.1 785.214" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-173.914 -40.5381L247.738 777.554" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-170.277 -48.198L251.374 769.894" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-166.641 -55.8579L255.011 762.235" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-163.003 -63.5179L258.648 754.575" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-159.367 -71.1778L262.285 746.915" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-155.73 -78.8379L265.922 739.255" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-152.093 -86.4978L269.559 731.595" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-148.456 -94.1577L273.196 723.935" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-144.819 -101.818L276.832 716.275" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-141.182 -109.478L280.469 708.615" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-137.545 -117.138L284.106 700.955" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-133.909 -124.797L287.743 693.295" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-130.271 -132.458L291.38 685.635" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-126.635 -140.117L295.017 677.975" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-122.997 -147.777L298.654 670.315" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-119.361 -155.438L302.291 662.655" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-115.724 -163.097L305.927 654.995" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-112.087 -170.757L309.565 647.335" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-108.45 -178.417L313.201 639.675" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-104.813 -186.077L316.838 632.015" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-101.176 -193.737L320.475 624.356" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-97.5394 -201.397L324.112 616.696" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-93.9027 -209.057L327.749 609.035" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-90.2655 -216.717L331.386 601.376" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-86.6288 -224.377L335.023 593.716" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-82.9921 -232.037L338.659 586.056" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-79.3549 -239.697L342.297 578.396" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-75.7181 -247.356L345.933 570.736" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-72.0814 -255.017L349.57 563.076" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-68.4442 -262.677L353.207 555.416" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-64.8075 -270.336L356.844 547.756" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-61.1708 -277.997L360.481 540.096" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-57.5336 -285.656L364.118 532.436" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-53.8969 -293.316L367.755 524.776" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-50.2597 -300.976L371.392 517.116" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-46.6229 -308.636L375.029 509.456" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-42.9862 -316.296L378.665 501.796" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-39.349 -323.956L382.302 494.136" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-35.7123 -331.616L385.939 486.476" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-32.0756 -339.276L389.576 478.817" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-28.4384 -346.936L393.213 471.156" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-24.8016 -354.596L396.85 463.497" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-21.1649 -362.256L400.487 455.837" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-17.5277 -369.916L404.124 448.176" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-13.891 -377.576L407.761 440.517" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-10.2543 -385.236L411.397 432.857" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-6.61707 -392.896L415.034 425.197" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M-2.98035 -400.556L418.671 417.537" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M0.656365 -408.216L422.308 409.877" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M4.29357 -415.876L425.945 402.217" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M7.93029 -423.536L429.582 394.557" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M11.567 -431.195L433.219 386.897" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M15.2042 -438.855L436.856 379.237" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M18.8409 -446.515L440.492 371.577" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M22.4781 -454.175L444.13 363.917" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M26.1149 -461.835L447.766 356.257" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M29.7516 -469.495L451.403 348.597" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M33.3888 -477.155L455.04 340.937" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M37.0255 -484.815L458.677 333.278" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M40.6622 -492.475L462.314 325.617" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M44.2994 -500.135L465.951 317.958" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M47.9361 -507.795L469.588 310.298" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M51.5729 -515.455L473.224 302.637" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M55.2101 -523.115L476.862 294.978" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M58.8468 -530.775L480.498 287.318" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M62.4835 -538.435L484.135 279.658" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M66.1207 -546.095L487.772 271.998" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M69.7574 -553.754L491.409 264.338" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M73.3942 -561.415L495.046 256.678" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
                <path d="M77.0314 -569.075L498.683 249.018" stroke="#2E9E20" stroke-opacity="0.2" stroke-width="2"/>
            </g>
        </svg>
    </div>
</template>

<script>
export default {
    name: 'HomeHeroBlob',
}
</script>

<style>

</style>
