<template>
    <div class="slider">
        <div class="slide-track">
            <div class="slide" @click.prevent="slideClicked">
                <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                <p class="">{{ $t('revolver.currency') }} 1.3763</p>
            </div>
            <div class="slide" @click.prevent="slideClicked">
                <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                <p class="">{{ $t('revolver.currency') }} 1.3763</p>
            </div>
            <div class="slide" @click.prevent="slideClicked">
                <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                <p class="">{{ $t('revolver.currency') }} 1.3763</p>
            </div>
            <div class="slide" @click.prevent="slideClicked">
                <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                <p class="">{{ $t('revolver.currency') }} 1.3763</p>
            </div>
            <div class="slide" @click.prevent="slideClicked">
                <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                <p class="">{{ $t('revolver.currency') }} 1.3763</p>
            </div>
            <div class="slide" @click.prevent="slideClicked">
                <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                <p class="">{{ $t('revolver.currency') }} 1.3763</p>
            </div>
            <div class="slide" @click.prevent="slideClicked">
                <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                <p class="">{{ $t('revolver.currency') }} 1.3763</p>
            </div>
            <div class="slide" @click.prevent="slideClicked">
                <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                <p class="">{{ $t('revolver.currency') }} 1.3763</p>
            </div>
            <div class="slide" @click.prevent="slideClicked">
                <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                <p class="">{{ $t('revolver.currency') }} 1.3763</p>
            </div>

            <div class="slide" @click.prevent="slideClicked">
                <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                <p class="">{{ $t('revolver.currency') }} 1.3763</p>
            </div>
            <div class="slide" @click.prevent="slideClicked">
                <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                <p class="">{{ $t('revolver.currency') }} 1.3763</p>
            </div>
            <div class="slide" @click.prevent="slideClicked">
                <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                <p class="">{{ $t('revolver.currency') }} 1.3763</p>
            </div>
            <div class="slide" @click.prevent="slideClicked">
                <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                <p class="">{{ $t('revolver.currency') }} 1.3763</p>
            </div>
            <div class="slide" @click.prevent="slideClicked">
                <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                <p class="">{{ $t('revolver.currency') }} 1.3763</p>
            </div>
            <div class="slide" @click.prevent="slideClicked">
                <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                <p class="">{{ $t('revolver.currency') }} 1.3763</p>
            </div>
            <div class="slide" @click.prevent="slideClicked">
                <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                <p class="">{{ $t('revolver.currency') }} 1.3763</p>
            </div>
            <div class="slide" @click.prevent="slideClicked">
                <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                <p class="">{{ $t('revolver.currency') }} 1.3763</p>
            </div>
            <div class="slide" @click.prevent="slideClicked">
                <img class=" mr-2" src="../assets/landing/imgs/revolverIcon.png" alt="">
                <p class="">{{ $t('revolver.currency') }} 1.3763</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Revolver',
}
</script>

<style scoped>
    @font-face {
    font-family: 'Poppins';
    src: local('Popppins'), url('../assets/landing/fonts/Poppins-SemiBold.ttf') format('truetype')
    }

    .slider {
        height: 40px;
        margin: auto;
        position: relative;
        width: 100%;
        display: grid;
        align-items: center;
        opacity: 0.6;
        overflow: hidden;
        background-color: #F3F6F9;
    }

    .slide-track {
        display: flex;
        width: calc(170px * 18);
        animation: scroll 20s linear infinite;
    }

    html[dir="rtl"] .slide-track {
        animation: scroll_rtl 20s linear infinite;
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-170px * 9));
        }
    }

    @keyframes scroll_rtl {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(170px * 9));
        }
    }

    .slide {
        height: 20px;
        width: 170px;
        display: flex;
        align-items: center;
        align-content: center;
        cursor: pointer;
    }

    .slide p {
        margin-top: 16px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
        color: #959CB6;
    }
</style>
